public/downloads/desktop/omni-mac-browser.dmg filter=lfs diff=lfs merge=lfs -text
public/downloads/desktop/omni-windows-browser.exe filter=lfs diff=lfs merge=lfs -text
public/downloads/desktop/omni-linux-browser.AppImage filter=lfs diff=lfs merge=lfs -text
